<h1>
	<%= @drug.name %>
</h1>

<p>
	<strong>Standard Adult Dose:</strong>
	<%= @drug.adult_dose %>
</p>

<p>
	<strong>Pediatric Dose:</strong>
	<%= @drug.pediatric_dose %>
</p>

<p>
	<strong>Route of Administration:</strong>
	<%= @drug.route %>
</p>

<p>
	<strong>Indications:</strong>
	<%= @drug.indications %>
</p>

<%= link_to "Edit", edit_drug_path(@drug) %>
<%= link_to 'Destroy', drug_path(@drug), method: :delete, data: { confirm: 'Are you sure you want to delete this drug?'} %>
<%= link_to "Back", drugs_path %>