<%= stylesheet_link_tag "application.css" %>

<h1>
	<%= @drug.name %>
</h1>

<p>
	<strong>Standard Adult Dose:</strong>
	<%= @drug.adult_dose %>
</p>

<p>
	<strong>Pediatric Dose:</strong>
	<%= @drug.pediatric_dose %>
</p>

<p>
	<strong>Route of Administration:</strong>
	<%= @drug.route %>
</p>

<p>
	<strong>Indications:</strong>
	<%= @drug.indications %>
</p>

	<a button type="button" class="btn btn-info" href=<%= edit_drug_path(@drug)%> >Edit Drug</a></button>
	<%= link_to 'Delete Drug', drug_path(@drug), method: :delete, data: { confirm: 'Are you sure you want to delete this drug?', }, class: 'btn btn-danger' %><br>

<p>
</p>

<a class="btn btn-sm btn-info" href=<%=drugs_path%> >Back </a>


<%= render 'comments/comment' %>

<h2>Add a Case:</h2>
<%= form_for([@drug, @drug.comments.build]) do |f| %>
	<p>
		<%= f.label "Care Provider"%><br>
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label "Patient Presentation" %><br>
		<%= f.text_area :presentation %>
	</p>

	<p>
		<%= f.label "Drug Administration" %><br>
		<%= f.text_area :administration %>
	</p>

	<p>
		<%= f.label "Patient Outcome" %><br>
		<%= f.text_area :outcome %>
	</p>

	<p>
		<%= f.submit "Add Case", class: "btn btn-success" %>
	</p>

<% end %>