<h1>
	<strong>Name:</strong>
	<%= @drug.name %>
</h1>

<p>
	<strong>Standard Adult Dose:</strong>
	<%= @drug.adult_dose %>
</p>

<p>
	<strong>Pediatric Dose:</strong>
	<%= @drug.pediatric_dose %>
</p>

<p>
	<strong>Route of Administration:</strong>
	<%= drug.route %>
</p>

<p>
	<strong>Indications:</strong>
	<%= drug.indications %>
</p>